{% extends 'admin_panel/index.html' %}
{% block title %} Home {% endblock title%}
{% block main_content %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal">
 Create New User
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New User</h5>
      </div>
      <form role="form" action="" method="POST">
								    {% csrf_token %}
      <div class="modal-body">
        <div class="col-md-12">
						<div class="panel panel-primary ">
							<div class="panel-body">

									<div class="form-group">
										<label for="{{form.username.id_for_label}}">{{form.username.label}}</label>
										{{form.username}}
										<span class="text-danger">{{form.username.errors}}</span>
									</div>

									<div class="form-group">
										<label for="{{form.first_name.id_for_label}}">{{form.first_name.label}}</label>
										{{form.first_name}}
										<span class="text-danger">{{form.first_name.errors}}</span>
									</div>

									<div class="form-group">
										<label for="{{form.last_name.id_for_label}}">{{form.last_name.label}}</label>
										{{form.last_name}}
										<span class="text-danger">{{form.last_name.errors}}</span>
									</div>

									<div class="form-group">
										<label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
										{{form.email}}
										<span class="text-danger">{{form.email.errors}}</span>
									</div>

									<div class="form-group">
										<label for="{{form.access_level.id_for_label}}">{{form.access_level.label}}</label>
										{{form.access_level}}
										<span class="text-danger">{{form.access_level.errors}}</span>
									</div>

									<div class="form-group">
										<label for="{{form.password1.id_for_label}}">Password</label>
										{{form.password1}}
										<span class="text-danger">{{form.password1.errors}}</span>
									</div>

									<div class="form-group">
										<label for="{{form.password2.id_for_label}}">Confirm Password</label>
										{{form.password2}}
										<span class="text-danger">{{form.password2.errors}}</span>
									</div>

							</div><!-- panel-body -->
						</div>
						<!-- panel -->
					</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>

  </div>
</div>


<div class="col-md-12 m-t-5">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Users List</h3>
							</div>
							<div class="panel-body">
								 <form method="get">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                           <div class="form-group">
                                                <label for="{{search_form.username.id_for_label}}">{{search_form.username.label}}</label>
                                                {{search_form.username}}
                                            </div>
                                        </div>
                                         <div class="col-sm-4">
                                           <div class="form-group">
                                                <label for="{{search_form.access_level.id_for_label}}">{{search_form.access_level.label}}</label>
                                                {{search_form.access_level}}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                           <div class="form-group">
                                                <button class="btn btn-success" style="margin-top: 8%" type="submit">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<table  class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>Sl No</th>
													<th>UserName</th>
													<th>Email</th>
													<th>Access Level</th>
													<th>Status</th>
													<th>Action</th>
												</tr>
											</thead>

											<tbody>
											{% for users_data in users %}
												<tr>
													<td>{{forloop.counter}}</td>
													<td>{{users_data.username}}</td>
													<td>{{users_data.email}}</td>
													<td>{{users_data.access_level}}</td>
													<td>
													    <input type="checkbox"  class="active" get_active="{{users_data.id}}" {% if users_data.is_active%} checked {% endif %}>
													</td>
													<td>
                                                            <button class="btn btn-danger delete_user" get_id="{{users_data.id}}"><i class="fa fa-trash-o"></i></button>
                                                            <a href="{% url 'edit_user'  users_data.id %}">
                                                                <button class="btn btn-primary"><i class="fa fa-pencil-square"></i></button>
                                                            </a>
                                                    </td>
												</tr>
											{% empty %}
												<tr>
													<td colspan="6" style="color: red;text-align: center;">No Data Found</td>
												</tr>
                                            {% endfor %}
											</tbody>
										</table>
									<ul class="pagination">
                                            <li class="step-links">
                                                {% if users.has_previous %}
													{% if request.GET.username or request.GET.access_level %}
													 	<a href="{{request.get_full_path}}&page=1">&laquo; First</a>
                                                    	<a href="{{request.get_full_path}}&page={{ users.previous_page_number }}">Previous</a>
														<a href="{% url 'create_user' %}">Back To All</a>
													{% else %}
														<a href="?page=1">&laquo; First</a>
                                                    	<a href="?page={{ users.previous_page_number }}">Previous</a>
													{% endif %}

                                                {% endif %}
                                            </li>
                                                <li class="current">
                                                    <span style="background-color: black;color: aliceblue">Page {{ users.number }} of {{ users.paginator.num_pages }}</span>
                                                </li>
                                                <li class="step-links">
                                                {% if users.has_next %}
													{% if request.GET.username or request.GET.access_level %}
													 	<a href="{{request.get_full_path}}&page={{ users.next_page_number }}">>> Next</a>
                                                    	<a href="{{request.get_full_path}}&page={{ users.paginator.num_pages }}">Last</a>
														<a href="{% url 'create_user' %}">Back To All</a>
													{% else %}
															<a href="?page={{ users.next_page_number }}">Next</a>
															<a href="?page={{ users.paginator.num_pages }}">Last &raquo;</a>
															<a href="{% url 'create_user' %}">Back To All</a>
													{% endif %}

                                                {% endif %}
                                             </li>
                                    </ul>


									</div>
								</div>
							</div>
						</div>
					</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".delete_user").unbind().click(function(){
      var get_id=$(this).attr('get_id');
      $(this).closest("tr").remove();
      $.ajax({
            url:"{% url 'delete_user'%}",
            type:"POST",
            data:{
                'csrfmiddlewaretoken':"{{csrf_token}}",
                'id':get_id
            },
            success:function(data){
                if(data.status==200){
                     toastr.success('User Deleted Successfully');
                 }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                toastr.warning('Internal Server Error');
             }

      });
  });

  $(".active").unbind().change(function() {
        var get_active=$(this).attr('get_active');
        $.ajax({
            url:"{% url 'set_active' %}",
            type:"POST",
            data:{
                 'csrfmiddlewaretoken':"{{csrf_token}}",
                'id':get_active
            },
            success:function(data){
                console.log(data)
                if(data.status==200){
                     toastr.success('User Status Set '+data.message);
                 }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                toastr.warning('Internal Server Error');
             }
        });
  });
});
</script>


{% endblock main_content %}