{% extends 'admin_panel/index.html' %}
{% block title %} Team List {% endblock title%}
{% block main_content %}

<div class="col-md-12 m-t-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Team List</h3>
        </div>
        <div class="panel-body">
            <form method="get">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <!--                                               <input type="hidden" name="page" value="{{request.GET.page}}">-->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">


                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">

                            <button class="btn btn-success" style="margin-top: 8%" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Team Name</th>
                            <th>Project Name</th>
                            <th>Leader Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for team_list_data_value in team_list_data %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{team_list_data_value.team_name}}</td>
                            <td>{{team_list_data_value.project.project_title}}</td>
                            <td>{{team_list_data_value.team_leader.email}}</td>
                            <td>
                                <button class="btn btn-danger delete_team" get_id="{{team_list_data_value.pk}}"><i
                                        class="fa fa-trash-o"></i></button>

                                <a href="{% url 'edit_project' team_list_data_value.pk %}">
                                    <button class="btn btn-primary"><i class="fa fa-pencil-square"></i></button>
                                </a>
                                <button class="btn btn-info team_view" get_id="{{team_list_data_value.pk}}"
                                        data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i>
                                </button>

                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5"><span style="text-align: center;color: red">No Data Found</span></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="step-links">
                            {% if team_list_data.has_previous %}
                            <a href="?page=1{{pagination_url}}">&laquo; First</a>
                            <a href="?page={{ team_list_data.previous_page_number }}{{pagination_url}}">Previous</a>
                            <a href="{% url 'project' %}">Back To All</a>
                            {% endif %}
                        </li>
                        {% if team_list_data.has_previous or team_list_data.has_next %}
                        <li class="current">
                            <span style="background-color: black;color: aliceblue">Page {{ team_list_data.number }} of {{ team_list_data.paginator.num_pages }}</span>
                        </li>
                        {% endif %}
                        <li class="step-links">
                            {% if team_list_data.has_next %}
                            <a href="?page={{ team_list_data.next_page_number }}{{pagination_url}}">Next</a>
                            <a href="?page={{ team_list_data.paginator.num_pages }}{{pagination_url}}">Last &raquo;</a>
                            {% endif %}
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Team Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="team_details"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".delete_team").unbind().click(function () {
            var delete_team_id = $(this).attr('get_id');
            $(this).closest("tr").remove();
            $.ajax({
                url: "{% url 'delete_team'%}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{csrf_token}}",
                    'id': delete_team_id
                },
                success: function (data) {
                    if (data.status == 200) {
                        toastr.success('Team Deleted Successfully');

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.warning('Internal Server Error');
                }

            });
        });


        $(".team_view").unbind().click(function () {
            var team_id = $(this).attr('get_id');

            $.ajax({
                url: "{% url 'view_team' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{csrf_token}}",
                    'id': team_id
                },
                success: function (data) {
                    console.log(data);
                    $(".team_details").html(data)
                    // if(data.status==200){
                    //      toastr.success('Team Deleted Successfully');
                    //  }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.warning('Internal Server Error');
                }

            });


        });

    });
</script>

{% endblock main_content %}