<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Admina Bootstrap Admin. This is the demo of Admina. You need to purchase a license for legal use!">
		<meta name="author" content="DownTown Themes">

		<link rel="shortcut icon" href="assets/img/icon.png">

		<title>Issue Tracker</title>

		<!-- Google Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        {% include 'layouts/admin_css.html'  %}

	</head>


    <body>

        <div class="wrapper-page animated fadeInDown">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading">
                   <h3 class="text-center m-t-10"> Sign In to <strong>Issue Tracker</strong> </h3>
                </div>

                <form class="form-horizontal m-t-40" action="" method="POST">
                    {% csrf_token %}

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" name="email" type="text" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group ">

                        <div class="col-xs-12">
                            <input class="form-control" name="password" type="password" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <label class="cr-styled">
                                <input type="checkbox" checked>
                                <i class="fa"></i>
                                Remember me
                            </label>
                        </div>
                    </div>

                    <div class="form-group text-right">
                        <div class="col-xs-12">
                            <button class="btn btn-primary w-md" name="login" type="submit">Log In</button>
                        </div>
                    </div>
                    <div class="form-group m-t-30">
                        <div class="col-sm-7">
                            <a href="{% url 'password_reset' %}"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                        </div>
                        <div class="col-sm-5 text-right">
                            <a href="register.html">Create an account</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>


        {% include 'layouts/admin_js.html' %}
    </body>

</html>