<aside class="left-panel">

			<!-- Navbar -->
			<nav class="navigation">
				<ul class="list-unstyled">
					<li class="active">
						<a href="{% url 'backend' %}"><i class="ion-home"></i> <span class="nav-label">Dashboard</span></a>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="ion-settings"></i> <span class="nav-label">RBAC</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="{% url 'create_user' %}">Create User</a>
							</li>
						</ul>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="ion-compose"></i> <span class="nav-label">Project</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="{% url 'project' %}">Create Project</a>
							</li>

						</ul>
					</li>
					<li class="has-submenu">
						<a href="#"><i class="ion-grid"></i> <span class="nav-label">Data Tables</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="tables.html">Basic Tables</a>
							</li>
							<li>
								<a href="table-datatable.html">Data Table</a>
							</li>
						</ul>
					</li>
					<li class="has-submenu">
						<a href="#"><i class="ion-stats-bars"></i> <span class="nav-label">Charts</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="morris-chart.html">Morris Chart</a>
							</li>
							<li>
								<a href="chartjs.html">Chartjs</a>
							</li>
							<li>
								<a href="flot-chart.html">Flot Chart</a>
							</li>
							<li>
								<a href="c3-chart.html">C3 Chart</a>
							</li>
							<li>
								<a href="other-chart.html">Other Chart</a>
							</li>
						</ul>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="ion-location"></i> <span class="nav-label">Maps</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="gmap.html"> Google Map</a>
							</li>
							<li>
								<a href="vector-map.html"> Vector Map</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="pagejax.html"><i class="ion-home"></i> <span class="nav-label">Pagejax</span></a>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="ion-email"></i> <span class="nav-label">Mail</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="inbox.html">Inbox</a>
							</li>
							<li>
								<a href="email-compose.html">Compose Mail</a>
							</li>
							<li>
								<a href="email-read.html">View Mail</a>
							</li>
						</ul>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="ion-document"></i> <span class="nav-label">Pages</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="invoice.html">Invoice</a>
							</li>
							<li>
								<a href="contact.html">Contact List</a>
							</li>
							<li>
								<a href="login.html">Login</a>
							</li>
							<li>
								<a href="register.html">Register</a>
							</li>
							<li>
								<a href="recover_password.html">Recover Password</a>
							</li>
							<li>
								<a href="lock-screen.html">Lock Screen</a>
							</li>
							<li>
								<a href="blank.html">Blank Page</a>
							</li>
							<li>
								<a href="404.html">404 Error</a>
							</li>
							<li>
								<a href="404_alt.html">404 alt</a>
							</li>
							<li>
								<a href="500.html">500 Error</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- End Navbar -->

		</aside>