<aside class="left-panel">

			<!-- Navbar -->
			<nav class="navigation">
				<ul class="list-unstyled">
					<li class="active">
						<a href="{% url 'backend' %}"><i class="ion-home"></i> <span class="nav-label">Dashboard</span></a>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="ion-settings"></i> <span class="nav-label">RBAC</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="{% url 'create_user' %}">Create User</a>
							</li>
						</ul>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="ion-compose"></i> <span class="nav-label">Project</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="{% url 'project' %}">Create Project</a>
							</li>

						</ul>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="ion-compose"></i> <span class="nav-label">Teams</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="{% url 'create_team' %}">Create Team</a>
							</li>

						</ul>
					</li>


				</ul>
			</nav>
			<!-- End Navbar -->

		</aside>